#content-body{
    display: flex;
    width:100%;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    position: relative;
    height: calc(100vh - 300px - 20%);

}


.input-label-row {
    height:7.145% 
}

.input-field-row {
    height:14.29%;
}

#messageFieldLine.input-field-row {
    height:35.725%;
}

#buttonFieldLine.input-label-row{
    height:14.26%;

}

input, textarea{
    position: relative;
    width:100%;
    height:100%;
    padding:0 0 0 2%;
    font-size:100%;
    border: 1px solid #dddddd;
}

textarea{
    resize: none;
    overflow-y:scroll;
}

::placeholder{
    color:#777777;
}

button{
    position: relative;
    height:100%;
    width:15%;
    background-color:#4aaaa5;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-size: 100%;
}

button:hover{
    background-color:#3a8884;

}




/*.input  textarea, input{
    background-color:beige;
    margin-top:0;
    width:90%;
    position: relative;
    height: 100%;

}*/