*{
    box-sizing:border-box;
}

#main-container{
    width:100%;
    height:100%;
    background-color: black;
    display: flex;
    flex-direction: column;    
    background-image: url(../images/tiny-squares.png);

}

#header-container{
    display:flex;
    width: 100%;
    height: 75px;
    background-color:#ffffff;
    justify-content: space-around;
    border-bottom: 2px solid #cccccc;

}



#header-content-container{
    width: 75%;
    max-width:960px;
    height: 75px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-bottom: 2px solid #cccccc;

}


#name{
   font-family: Arial, Helvetica, sans-serif;
   background-color: #4aaaa5;
    font-size: 18pt;
    width:15%;
    height: 100%;
    text-align: center;
}

#name p{
    vertical-align: center;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul li{
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    display: block;
    color: darkgray;
}

.nav-item:hover{
    color:white;
    background-color:#4aaaa5;
}

.nav-item:active{
    color:white;
    background-color:0, 153, 122;
}

a{
    text-decoration: none;
    color: inherit;
}

#body-container{
    display:flex;
    width: 100%;
    height: calc(100vh - 150px);
    justify-content: space-around;
    align-items: center;
    align-self:center;

}

#content-container{
    background-color:#ffffff;
    word-wrap: break-word;
    max-width:960px;
    width:75%;
    height: calc(100vh - 300px);

}

#content-title-container{
    display:flex;
    width:100%;
    background-color: white;
    justify-content: flex-start;
    flex-direction: column;

}

#content-border{
    border-bottom: 2px solid #dddddd;
    align-self: center;
    width:90%;

}

#content-title{
    display:block;
    text-align: center;
    width:15%;
    height: 75px;
    margin: 5px 0px 5px 10px;
}

#content-title p{
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    font-style: bold;
    vertical-align: center;
}

footer{
    height: 75px;
    border-top: 5px solid #4aaaa5;
    background-color: rgb(153, 153, 153);
    padding-top: 20px;
    color:#666666;
    text-align:center;
    

}

footer p{
    color:rgb(75,75,75);
    vertical-align: text-bottom;
}





